<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>aaa</servlet-name>
        <servlet-class>ZXD_2018_4_2.AServlet</servlet-class>
        <init-param>
            <param-name>name</param-name>
            <param-value>zxd</param-value>
        </init-param><!--Servlet初始化参数-->
    </servlet>
    <servlet>
        <servlet-name>bbb</servlet-name>
        <servlet-class>ZXD_2018_4_2.BServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ccccc</servlet-name>
        <servlet-class>ZXD_2018_4_2.EServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ccc</servlet-name>
        <servlet-class>ZXD_2018_4_3.AServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ddd</servlet-name>
        <servlet-class>ZXD_2018_4_3.BServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eee</servlet-name>
        <servlet-class>ZXD_2018_4_3.CSerlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fff</servlet-name>
        <servlet-class>ZXD_2018_4_3.VisitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ggg</servlet-name>
        <servlet-class>ZXD_2018_4_4.AServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>hhh</servlet-name>
        <servlet-class>ZXD_2018_4_5.AServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>iii</servlet-name>
        <servlet-class>ZXD_2018_4_5.BServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>jjj</servlet-name>
        <servlet-class>ZXD_2018_4_5.CServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>kkk</servlet-name>
        <servlet-class>ZXD_2018_4_5.DServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lll</servlet-name>
        <servlet-class>ZXD_2018_4_5.EServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mmm</servlet-name>
        <servlet-class>ZXD_2018_4_6.AServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>nnn</servlet-name>
        <servlet-class>ZXD_2018_4_6.BServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ooo</servlet-name>
        <servlet-class>ZXD_2018_4_6.CServlet</servlet-class>
    </servlet>








    <servlet-mapping>
        <servlet-name>aaa</servlet-name>
        <url-pattern>/4_2_AServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bbb</servlet-name>
        <url-pattern>/4_2_BServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ccccc</servlet-name>
        <url-pattern>/4_2_EServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ccc</servlet-name>
        <url-pattern>/4_3_AServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ddd</servlet-name>
        <url-pattern>/4_3_BServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eee</servlet-name>
        <url-pattern>/4_3_CServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fff</servlet-name>
        <url-pattern>/4_3_VisitServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ggg</servlet-name>
        <url-pattern>/4_4_AServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>hhh</servlet-name>
        <url-pattern>/4_5_AServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>iii</servlet-name>
        <url-pattern>/4_5_BServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>jjj</servlet-name>
        <url-pattern>/4_5_CServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>kkk</servlet-name>
        <url-pattern>/4_5_DServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lll</servlet-name>
        <url-pattern>/4_5_EServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mmm</servlet-name>
        <url-pattern>/4_6_AServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>nnn</servlet-name>
        <url-pattern>/4_6_BServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ooo</servlet-name>
        <url-pattern>/4_6_CServlet</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>listener.AListener</listener-class>
    </listener>
</web-app>